			@font-face {
				font-family: 'droid-reg';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/180925094313Droid-Reg.eot');
				src: local('droid-reg'), url('/wp-content/uploads/useanyfont/180925094313Droid-Reg.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/180925094313Droid-Reg.woff') format('woff');
			}
            
            .et_gf_droid-reg{background:none !important;font-family:droid-reg;text-indent:0 !important;font-size:25px;}
            
					@font-face {
				font-family: 'droid-bold';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/180925094348Droid-Bold.eot');
				src: local('droid-bold'), url('/wp-content/uploads/useanyfont/180925094348Droid-Bold.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/180925094348Droid-Bold.woff') format('woff');
			}
            
            .et_gf_droid-bold{background:none !important;font-family:droid-bold;text-indent:0 !important;font-size:25px;}
            
		