			@font-face {
				font-family: 'droid-reg';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/180925094313Droid-Reg.eot');
				src: local('droid-reg'), url('/wp-content/uploads/useanyfont/180925094313Droid-Reg.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/180925094313Droid-Reg.woff') format('woff');
			}
            
            .droid-reg{font-family: 'droid-reg' !important;}
            
					@font-face {
				font-family: 'droid-bold';
				font-style: normal;
				src: url('/wp-content/uploads/useanyfont/180925094348Droid-Bold.eot');
				src: local('droid-bold'), url('/wp-content/uploads/useanyfont/180925094348Droid-Bold.eot') format('embedded-opentype'), url('/wp-content/uploads/useanyfont/180925094348Droid-Bold.woff') format('woff');
			}
            
            .droid-bold{font-family: 'droid-bold' !important;}
            
						body, h1, h2, h3, h4, h5, h6, p, blockquote, li, a{
					font-family: 'droid-reg' !important;
				}
		